*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-bottom: 10px;

}


/* logo */

.logo{
    height:auto;
    width:150px;
    border-right: 1px solid #656565;
    padding-right: 20px;
    margin-left: 70px;
}

/* nav*/

nav li{
    display: inline;
    text-transform: uppercase;
    list-style: none;
    padding-right: 10px;
    margin-left: 70px;
}

ul{
    padding:0;
}
/* banner */

.banner{
    margin: 1% 5%;
    height: 500px;
    background-image: url(img/banner.jpg) ;
    position: relative;
    border-radius: 2em;

}


.banner-text{
    position: absolute;
    bottom: 20px;
    padding: 20px;
}


/* ------------------------------------- */


/* container/ */
.container{
    margin: 0% 5%;
    background-color: rgb(48, 102, 250);
}


.container::after{
    content: "";
    display: table;
    clear: both;
}
.head {
    background-color: rgb(119, 186, 231) ;
    height: 30px;
}
.menu {
    background-color: rgb(119, 186, 231) ; 
    height: 500px;
    width: 20%;
    float: left;
    margin: 1% 0;
}
.main {
    background-color: rgb(119, 186, 231) ; 
    height: 500px; 
    width: 58%;
    float: left;
    margin: 1% 1%;
}
footer{
    background-color: rgb(90, 7, 110);
    height: 30px;
    width: 90%;
    margin: 1% 5%;
}